[user]
	name = Xavier Legault

[commit]
	gpgsign = true

[core]
	excludesFile = ~/.gitignore
	editor = nvim
	pager = delta
	eol = lf
	safecrlf = true

[log]
	showSignature = false
	mailmap = true

[fetch]
	prune = true

[pull]
	ff = true

[push]
	followTags = true
	gpgSign = if-asked

[rebase]
	autoSquash = true

[tag]
	gpgSign = true
	forceSignAnnotated = true

[rerere]
	enabled = true

[alias]
	graph = log --graph

[color]
	ui = auto

[interactive]
	diffFilter = delta --color-only

[merge]
	; conflictStyle = zdiff3

[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Dracula

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;                     GitLab                     ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Personal
[includeIf "hasconfig:remote.*.url:git@gitlab.com:*/**"]
	path = .gitconfig.gitlab

; Profesional
[includeIf "hasconfig:remote.*.url:git@gitlab.com:prosomo/**"]
	path = .gitconfig.gitlab.prosomo

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;                     GitHub                     ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Personal
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = .gitconfig.github

; Profesional
[includeIf "hasconfig:remote.*.url:git@github.com:Tonik-web-studio/**"]
	path = .gitconfig.github.prosomo
[includeIf "hasconfig:remote.*.url:git@github.com:Yannickweb-net/**"]
	path = .gitconfig.github.prosomo
[includeIf "hasconfig:remote.*.url:git@github.com:prosomo/**"]
	path = .gitconfig.github.prosomo
