[user]
	name = Xavier Legault
	email = legault.xavier@live.ca
[core]
	excludesFile = ~/.gitignore
	editor = nvim
[rerere]
	enabled = false
[alias]
	graph = log --graph
[color]
	ui = auto

;
; GitLab
;
[includeIf "hasconfig:remote.*.url:git@gitlab.com:*/**"]
	; Personal
	path = .gitconfig.gitlab

[includeIf "hasconfig:remote.*.url:git@gitlab.com:prosomo/**"]
	; Profesional
	path = .gitconfig.gitlab.prosomo

;
; GitHub
;
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	; Personal
	path = .gitconfig.github

[includeIf "hasconfig:remote.*.url:git@github.com:Tonik-web-studio/**"]
	; Profesional
	path = .gitconfig.github.prosomo
[includeIf "hasconfig:remote.*.url:git@github.com:Yannickweb-net/**"]
	; Profesional
	path = .gitconfig.github.prosomo
[includeIf "hasconfig:remote.*.url:git@github.com:prosomo/**"]
	; Profesional
	path = .gitconfig.github.prosomo

