
@define-color black rgba(0, 0, 0, 1);
@define-color white rgba(255, 255, 255, 1);
@define-color grey rgba(125, 125, 125, 1);
@define-color purple rgba(76, 8, 115, 1);

@define-color workspace-selected purple;
@define-color workspace-has-window rgba(255, 255, 255, 1);

@define-color bg rgba(0, 0, 0, 0.7);
@define-color bg-widget rgba(35, 35, 35, 0.75);
@define-color bg-workspace rgba(35, 35, 35, 1);
@define-color font rgba(255, 255, 255, 1);
/* @define-color bg-workspace rgba(255, 255, 255, 0.3); */

@define-color popup-bg rgba(0, 0, 0, 1);
@define-color popup-font rgba(255, 255, 255, 1);
@define-color popup-border rgba(255, 255, 255, 1);
@define-color popup-arrow rgba(255, 255, 255, 1);
@define-color popup-separator rgba(255, 255, 255, 1);

* {
	/* all: initial; */
    font-family: 'RobotoMono Nerd Font';
    font-size: 16px;
	color: @font;
	text-shadow: 0px 0px 4px #000000;
}

window#waybar {
	background: @bg;
	padding: 0;
    transition-duration: .5s;
}
window > box {
	padding: 0 15px;
}

widget label,
widget {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: none;
}

.modules-left > widget {
	/* margin-right: 5px; */
}
.modules-right > widget {
	/* margin-left: -30px; */
}
.modules-center > widget {
	/* margin-left: 2.5px; */
	/* margin-right: 2.5px; */
}

widget > label,
widget > box {

}

/*##################################################*/
/*                    Right widget                  */
/*##################################################*/

box#tray,
widget > label {
	background: @bg-widget;
	padding-left: 10px;
	padding-right: 10px;
}

/*##################################################*/
/*                   Workspaces                     */
/*##################################################*/

widget > box#workspaces {
}

widget > box#workspaces button {
	margin: 0 5px;
}

widget > box#workspaces button label {
	font-size: 30px;
}

widget > box#workspaces button.empty {
}

widget > box#workspaces button.visible.empty {
}

widget > box#workspaces button:hover {
}


widget > box#workspaces button:hover,
widget > box#workspaces button.visible {
}

widget > box#workspaces button.visible.empty {

}
widget > box#workspaces button.visible {
}

widget > box#workspaces button.visible label {
}

widget > box#workspaces button.active label {

}

/*##################################################*/
/*                      Popup                       */
/*##################################################*/

/* All hover's */
decoration {
	background: @black;
}

/*##################################################*/
/*                      Tray                       */
/*##################################################*/

/* Tray's popup */
decoration,
box#tray window > decoration {
	background: @popup-bg;
	border: 1px solid @popup-border;
	padding: 5px 10px;
}

box#tray window separator {
	border-top: 1px solid @popup-separator;
	margin: 5px 0;
}

box#tray > widget > image {
	margin: 0 5px;
}

box#tray window {
	color: @popup-font;
}

window.popup arrow {
	margin: 5px;
}

window.popup arrow.left {
	border-right: 10px solid @popup-arrow;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}
window.popup arrow.right {
	border-left: 10px solid @popup-arrow;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

window.popup menuitem:hover label {
	/* color: shade(@popup-font, 0.8); */
	text-decoration: underline;
}
